.App {
  background: '#f3f2ef'
}
.MuiMenu-paper {
  max-height: 300px !important;
  margin-top: 40px !important;
}

.MuiPaper-elevation4 {
  box-shadow: '4px 2px 8px -1px rgba(0, 0, 0, 0.25), 0px 4px 8px 0px rgba(0,0,200,0.14), 0px 1px 10px 0px rgba(0,0,200,0.12)';
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: "green" !important
}

.Toastify__toast-container--top-center {
  top: 3rem;
}

.Toastify__toast {
  border-radius: 5px;
  min-height: 0px;
  top: 50%;
}
.Toastify__toast-body {
  margin : 5px;
}

.Toastify__toast--success {
  background: #edf7ed;
  color : #1e4620;
}

.Toastify__close-button {
  display: none;
}

.PrivateSwitchBase-root-34 {
  padding: 0 !important;
}

.reactCodeInput > input {
  font-family: monospace;
  text-align: center;
  width: 50px;
  border-radius: 3px;
  font-size: 34px;
  height: 65px;
  padding-left: 17px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative; 
  
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  }

  .line {
    width: 300;
    height: 200;
    background: chartreuse;
  }

  @keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }

@media (max-width: 548px) {
  .reactCodeInput > input {
    margin: 7px;
    width: 50px;
    height: 65px;
    font-size: 34px;
    padding-left: 15px;
    padding-right: 0px;
  }
}

@media (max-width: 420px) {
  .reactCodeInput > input {
    margin: 5px;
    width: 35px;
    height: 45px;
    font-size: 28px;
    padding-left: 0px;
    padding-right: 0px;
  }
}